:root {
  --tagline-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --link-color: #2196f3;
  --text-color: #757575;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  list-style: none;
  text-transform: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  color: var(--text-color);
  color: var(--icon-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo {
  display: block;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__link {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo__link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__type {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo__type {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.title-main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 30px;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tagline-color);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.specification__title,
.teammate__title,
.client__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .specification__title,
  .teammate__title,
  .client__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network__item {
  display: flex;
}

.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__icon:hover, .network__icon:focus {
  color: #ffffff;
  background-color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__icon-icon {
  fill: currentColor;
}

.network__icon-icon:hover, .network__icon-icon:focus {
  color: currentColor;
  background-color: var(--link-color);
}

.modal-button,
.portfolio-button {
  border: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-button {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.modal-button:active {
  background-color: #188ce8;
}

.button-text {
  padding: 10px 32px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: var(--link-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-form-field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--main-color);
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  border-color: var(--link-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-message {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--link-color);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-form-checkbox-label::before {
  display: block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
}

.modal-form-label-link {
  font-family: var(--main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--link-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background-color: var(--link-color);
  color: var(--tagline-color);
  border-radius: 4px;
  border-color: #188ce8;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #188ce8;
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--link-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icons {
  margin-top: 60px;
}

@media screen and (min-width: 765px) {
  .footer__icons {
    margin-top: 0;
  }
}

.footer__network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer__icon {
  display: flex;
}

.footer__icon:not(:last-child) {
  margin-right: 10px;
}

.footer__network-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__network-icon:hover, .footer__network-icon:focus {
  color: white;
  background-color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__network-icon-icon {
  fill: currentColor;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200x) {
  .header {
    border-bottom: 1px solid #ececec;
  }
}

.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation .menu__link.current {
    color: var(--link-color);
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 35px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .menu__link:hover,
  .menu__link:focus {
    color: var(--link-color);
  }
  .menu__link:hover::after,
  .menu__link:focus::after {
    display: block;
    opacity: 1;
  }
  .menu__link::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--link-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--link-color);
    border-radius: 2px;
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .menu__link {
    padding-bottom: 28px;
  }
}

.contacts-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link-item {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__mail-link,
  .contacts__tel-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding: 0;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__mail-link,
  .contacts__tel-link {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__mail-link:hover,
  .contacts__mail-link:focus {
    color: var(--link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__tel-link:hover,
  .contacts__tel-link:focus {
    color: var(--link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 24px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--tagline-color);
}

.close-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.close-btn__icon {
  width: 24px;
  height: 16px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 27px;
  right: 35px;
}

.nav-contacts {
  display: block;
  margin-top: 302px;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-contacts__item {
  margin-bottom: 32px;
}

.nav-contacts__tel {
  margin-bottom: 320px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.nav-contacts__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav-social {
  display: flex;
  margin-top: 64px;
}

.nav-social__item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.nav-social__item:not(:last-child) {
  margin-right: 20px;
}

.nav-list__link.current {
  color: var(--link-color);
}

.burger-btn__icon:hover,
.close-btn__icon:hover {
  fill: var(--link-color);
}

.hero {
  text-align: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), screen and (min-resolution: 192dpi) and (min-width: 280px), screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-desktop@2x.jpg");
  }
}

.concept {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .concept {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.concept__list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .concept__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .concept__list {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
  }
}

.concept__list-item {
  display: block;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .concept__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .concept__list-item {
    margin-top: 30px;
    margin-left: 30px;
    width: 354px;
    height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .concept__list-item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .concept__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.concept-icon {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .concept-icon {
    width: 354px;
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .concept-icon {
    width: 270px;
    padding: 25px 100px;
  }
}

.concept__list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .concept__list-title {
    text-align: left;
  }
}

.subtitle-text {
  text-transform: uppercase;
}

.concept__list-title-text {
  text-align: left;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.specification {
  display: none;
}

@media screen and (min-width: 1200px) {
  .specification {
    display: flex;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .specification__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .specification__list {
    display: flex;
  }
  .specification__title {
    margin-bottom: 50px;
  }
  .specification__list-images {
    position: relative;
  }
  .specification__list-images:not(:last-child) {
    margin-right: 30px;
  }
  .service__desc {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .service__text {
    font-family: var(--main-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tagline-color);
  }
}

.teammate {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

.teammate__title {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .teammate {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .teammate__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__list-item {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
  .team__list-item {
    padding-bottom: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__list-item {
  display: block;
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__list-item {
    padding-bottom: 30px;
  }
  .team__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.team__list-item-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team__image {
  text-align: center;
  margin-top: 30px;
}

.team__list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team__list-title-text {
  margin-bottom: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.client__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .client__list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .client__list-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__list-item {
    width: 170px;
    margin-left: 0;
    margin-top: 0;
  }
  .client__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-image:hover, .icon-image:focus {
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-image:hover .client-icon,
.icon-image:focus .client-icon {
  fill: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__button-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .portfolio__button-item:nth-last-child(n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio__button {
  display: inline-block;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  border: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: white;
  background: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set__list {
  background-color: violet;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .set__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.set__list > .set__list-item {
  width: 450px;
  height: 404px;
}

@media screen and (min-width: 768px) {
  .set__list > .set__list-item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .set__list > .set__list-item {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    box-sizing: border-box;
    margin-bottom: 0;
  }
}

.set__list-image {
  display: block;
  margin: 0 auto;
  width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .set__list-image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .set__list-image {
    width: 370px;
  }
}

.set__list .set-list__icon:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.set__list-icon {
  display: block;
}

.set__list-icon:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.set__list-image-text {
  position: relative;
  overflow: hidden;
}

.set__list-item:hover .set__list-text {
  transform: translateY(0);
}

.set__list-icon:hover .set__list-text,
.set__list-icon:focus .set__list-text {
  transform: translateY(-100%);
}

.set__list-text {
  position: absolute;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .card__content {
    min-width: 354px;
  }
}

.card__list-projects {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.card__list-projects-text {
  margin-top: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-common {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .container-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: block;
    text-align: left;
  }
}

.contacts__item {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    display: block;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__icons {
    margin-left: 70px;
  }
}

.footer__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__list-item {
  display: block;
}

.contacts__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__adress {
  font-style: normal;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts__mail,
.contacts__tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts__mail:focus,
.contacts__mail:hover {
  color: var(--link-color);
}

.contacts__tel:focus,
.contacts__tel:hover {
  color: var(--link-color);
}

.footerlink {
  margin-bottom: 20px;
}

.mailing {
  margin-top: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: block;
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__form {
    position: relative;
    display: block;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

.footer__text-form {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .footer__text-form {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text-form {
    min-width: 358px;
  }
  .footer__form-btn:hover,
  .footer__form-btn:focus {
    background-color: #188ce8;
  }
}

.footer__form-btn {
  position: relative;
  margin-top: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  vertical-align: middle;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--tagline-color);
  background-color: var(--link-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border: 1px solid var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__form-btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer__mail-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */