.concept {
  padding: 94px 0;
}
.concept__list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
}

.concept__list-item {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.concept-icon {
  width: 270px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.concept__list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.subtitle-text {
  text-transform: uppercase;
}
.concept__list-title-text {
  text-align: left;
  font-family: var(--main-font);
  font-style: normal;
  @include font;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
