.concept {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .concept {
    padding-top: 94px 0;
  }
}
.concept__list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .concept__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .concept__list {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
  }
}
.concept__list-item {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .concept__list-item {
    margin-top: 30px;
    margin-left: 30px;
    width: 354px;
    height: 251px;
  }
}
@media screen and (min-width: 1200px) {
  .concept__list-item {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .concept__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.concept-icon {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 190px;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .concept-icon {
    width: 354px;
    height: 120px;
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .concept-icon {
    width: 270px;
    padding: 25px 100px;
  }
}

.concept__list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept__list-title {
    text-align: left;
  }
}
.subtitle-text {
  text-transform: uppercase;
}
.concept__list-title-text {
  text-align: left;
  font-family: var(--main-font);
  font-style: normal;
  @include font;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
