.container__nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}
.navigation .menu__link.current {
  color: var(--link-color);
}

.menu {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--link-color);
  }
  &__link:hover::after,
  &__link:focus::after {
    display: block;
    opacity: 1;
  }
  &__link::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--link-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link.current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--link-color);
    border-radius: 2px;
    opacity: 1;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-header {
  display: flex;
}
.header__contacts {
  margin-left: auto;
}

.contacts__link-item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mail-link,
.contacts__tel-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail-link:hover,
.contacts__mail-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel-link:hover,
.contacts__tel-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
