.title {
  margin-bottom: 30px;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tagline-color);
}
@media screen and(min-width:1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}
