html {
  box-sizing: border-box;
}
h1,
h2,
h3,
ul,
li,
p,
a {
  list-style: none;
  text-transform: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
*::before,
*::after {
  box-sizing: inherit;
}
* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  color: var(--text-color);
  color: var(--icon-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
